<%- include('header') -%>
  <div class="container pt-3">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <br>

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <a href="/addProduct" class="btn btn-primary btn-sm"> Add New Product</a>
      </div>
    </div>
    <br>
    <p>Products Listing</p>
    <div class="row">
      <div class="col-lg-8 col-md-8 table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th width="10" class="text-center">SR NO</th>
            <th width="20" class="text-center">Name</th>
            <th width="30" class="text-center">Image</th>
            <th width="10" class="text-center">Size</th>
            <th width="10" class="text-center">Price</th>
            <th width="20" class="text-center">Action</th>
          </thead>
          <tbody>
            <% for(var i=0; i < products.length; i++) { %>
              <tr>
                <td>
                  <%= i+1 %>
                </td>
                <td>
                  <%= products[i].name %>
                </td>
                <td class="text-center">
                  <img src="<%= products[i].image %>" width="100px" height="100px" />
                </td>
                <td class="text-center">
                  <%= products[i].size %>
                </td>
                <td style="text-align: right">
                  <b>Rs. </b>
                  <%= products[i].price %>
                </td>
                <td><a id="editProduct" sid="<%= products[i].id %>" class="btn btn-warning btn-sm delete">Edit</a> <a
                    class="btn btn-danger btn-sm" id="deleteProduct" sid="<%= products[i].id %>">Delete</a></td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 col-md-4">
      </div>
    </div>
  </div>

  <%- include('footer') -%>

    <script>
      $(document).ready(function () {
        $("#deleteProduct").click(function (e) {
          console.log("hiii")
          e.preventDefault()
          var qtoken = localStorage.getItem('token')
          var token = qtoken.replaceAll('"', '');

          var id = $(this).attr("sid");
          if (confirm("Are you sure. You want to delete ?")) {
            $.ajax({
              type: "DELETE",
              url: '/product/' + id,
              headers: { "authorization": token },
              success: function (res) {
                alert(res.data)
                window.location.href = '/'
              }
            });
          }
        })
      })
    </script>